html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.mainContainer {
    padding-top: 3.666875rem;
}

.hoverPrimary {
    &:hover {
        color: var(--bs-info) !important;
    }
}

.merri {
    font-family: Merriweather, sans-serif;
}

.mukta {
    font-family: MuktaVaani, sans-serif;
}

.carousel-inner {
    height: 100% !important;
}

body {
    height: 100%;
}

.x {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
    stroke-width: 6.5px;
}

.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0;
}
.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0;
}
.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}
.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}
.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}
.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.hoverSecondary:hover {
    color: var(--bs-secondary) !important;
}

.shadow1 {
    box-shadow: 0 4px 4px 0 #00000040;
}